body{
    margin-top: 20px;
    text-align: center;
    background-image: linear-gradient(to right,rgb(209, 39, 67),rgb(87, 4, 4));
}
div{
    background-color: white;
    border:10px solid white; 
    margin:0 auto;
    margin-top: 30px;
    height: 560px;
    width: 500px;
    border-radius: 6%;
}
label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    color:rgb(209, 39, 67);
    font-weight: bold;
}
input{
    font-size: 40px;
    margin:0 auto;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 400px;
    height: 30px;
    padding: 20px;
}
button{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    padding: 20px;
    background-image: linear-gradient(to top,rgb(209, 39, 67),rgb(87, 4, 4));
    width: 300px;
    height: 80px;
    border-radius: 8%;
}
i{
    margin-top: -10px;
    margin-left:-45px;
    font-size: 30px;
}

