h1{
    color: #abcdef;
    background-color: orchid;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    color: goldenrod;
    background-color: burlywood;
    font-size: 45px;
}
p{
    color: white;
    background-color: black;
    font-size: 40px;
}